<!doctype html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!-- Consider adding an manifest.appcache: h5bp.com/d/Offline -->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{% block title %}{{ proj_name }}{% endblock %}</title>
  <meta name="description" content="{{ proj_description }}">
	<meta name="author" content="{% for author in founders %}{{ author.name }},{% endfor %}">

	<!-- Mobile viewport optimized: j.mp/bplateviewport -->
	<meta name="viewport" content="width=device-width,initial-scale=1">

	<!-- Place favicon.ico and apple-touch-icon.png in the root directory: mathiasbynens.be/notes/touch-icons -->

	<!-- CSS: implied media=all -->
	<!-- CSS concatenated and minified via ant build script-->
	<link rel="stylesheet" href="front-end/media/css/h5bp-style.css">
	<link rel="stylesheet" href="front-end/media/css/bootstrap.min.css">
	<link rel="stylesheet" href="front-end/media/css/your-style.css"><!--put your css here. -->
	<link rel="stylesheet" href="front-end/media/css/h5bp-style-after.css">
	<!--NOTE: to write your own custom CSS, edit the file
		called "your-style.css", don't insert a <link> here. 
		your-style.css is in the proper place. 
		-->
	<!-- end CSS-->
    
	<!-- If you want to use LESS, 
		comment out the above bootstrap.min.js and your-style.css, 
		and uncomment the below. Also the LESS js script -->
	<!--<link rel="stylesheet/less" type="text/css" href="/front-end/media/bootstrap/lib/bootstrap.less">-->
	<!--<script src="/front-end/media/static/less-1.1.3.min.js"></script>-->

	<!-- All JavaScript at the bottom, except for Modernizr / Respond.
       Modernizr enables HTML5 elements & feature detects; Respond is a polyfill for min/max-width CSS3 Media Queries
       For optimal performance, use a custom Modernizr build: www.modernizr.com/download/ -->
	<script src="front-end/media/static/modernizr-2.0.6.min.js"></script>

</head>

<body>
	<!-- html5 boilerplate told me to put <div id="container> there... 
		doubt it's necessary though. 
		Also, note that Bootstrap frequently uses "container"
		as a class, so avoid getting them mixed up. 
		-->
	<div id="container">

		<div id="main" role="main" class="container">
			{% block content %}
			{% endblock %}
      

			<footer style="text-align:center">
			{% block footer %}
				<p>&copy; {{ proj_name }} 2012</p>
        <p>
          A project by Alex Rattray for Keith Wilkerson of A Better Chance
        </p>
			{% endblock %}
			</footer>
		</div> <!--! end of #main.container-->
	</div> <!--! end of #container -->
  
    <!-- JavaScript at the bottom for fast page loading -->

	<!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="front-end/media/static/jquery-1.6.2.min.js"><\/script>')</script>


	<!-- scripts concatenated and minified via ant build script-->
	<script defer src="front-end/media/static/h5bp-plugins.js"></script>
  <script src="front-end/media/bootstrap/js/bootstrap-twipsy.js"></script>
  <script src="front-end/media/bootstrap/js/bootstrap-popover.js"></script>
	<!--<script defer src="front-end/media/static/your-script.js"></script>-->
	<!-- more scripts here -->
  <script>
  var twoptions = {'html':true};
  $('footer p a').popover(twoptions);
  </script>
  {% block scripts %}
  {% endblock scripts %}
	<!-- end scripts-->

	<!-- Change UA-XXXXX-X to be your site's ID -->
	<script>
		window._gaq = [['_setAccount','UAXXXXXXXX1'],['_trackPageview'],['_trackPageLoadTime']];
		Modernizr.load({
		  load: ('https:' == location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js'
		});
	</script>
  



	<!-- Prompt IE 6 users to install Chrome Frame. Remove this if you want to support IE 6.
	   chromium.org/developers/how-tos/chrome-frame-getting-started -->
	<!--[if lt IE 7 ]>
		<script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
		<script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
	<![endif]-->

</body>
</html>