{% extends "base.html" %}

{% block title %}{{ block.super }} | {{ thispage }} {% endblock %}

{% block content %}
<!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero-unit">
	<h1>{{ proj_name }}</h1>
	<h2>{{ proj_description }}</h2>
  <hr>
  <h3>Each file must be less than 20MB and all three combined must be less than 30MB</h3>
  <form action="/" enctype="multipart/form-data" method="post">{% csrf_token %}
    <h3>Photo 1: <input type="file" name="photo1" id="id_photo1"></h3>
    <h3>Photo 2: <input type="file" name="photo2" id="id_photo1"></h3>
    <h3>Photo 3: <input type="file" name="photo3" id="id_photo1"></h3>
    <br>
    <input type="submit" class="btn primary large" name="Submit">
  </form>
  <h1 id="message">{{message|safe}}</h1>
</div>

{% endblock content %}

{% block scripts %}
<script type="text/javascript">
  $('input[type="submit"]').click(function(){
    $('#message').html('sending...');
  });
</script>
{% endblock scripts %}